body {
  margin: 0;
}

#displayScreen {
  border: 2px solid;
}

#calculatorBtns {
  border: 1px solid;
}

#calculator {
  display: grid;
  max-width: 200px;
  margin: auto;
  margin-top: 100px;
  margin: 5px;
}
