body {
  margin: 0;
}

#calculator {
  display: grid;
  margin: auto;
  height: 75vh;
  max-width: 50vh;
  margin-top: 35px;
  border: solid red;
  border-radius: 10px;
  background-color: black;
  padding: 10px;
}

#display-screen {
  border: 2px solid blue;
  max-height: 50%;
  margin: 5px;
  text-align: end;
  border-radius: 10px;
  margin-bottom: -10px;
  margin-top: -3px;
  align-content: end;
  color: white;
  padding-right: 3px;
}

.number:hover {
  background-color: rgba(255, 255, 255, 0.458);
}

#calculatorBtns {
  margin-top: -10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border: 1px solid;
  height: 100%;
  gap: 3px;
  background-color: rgb(67, 66, 66);
  padding: 3px;
  border-radius: 10px;
}

#calculatorBtns button {
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.operator {
  background-color: rgb(241, 182, 72);
}

.operator:hover {
  background-color: rgb(235, 157, 11);
}

#clear-btn {
  color: red;
  grid-column-end: span 2;
}

#clear-btn:hover {
  background-color: red;
  color: white;
}

#equals-btn {
  grid-column-end: span 2;
  color: green;
  background-color: white;
}

#equals-btn:hover {
  color: white;
  background-color: green;
}

#zero {
  grid-column-end: span 2;
}
